/*
    font-family: 'Open Sans', sans-serif;

    font-family: 'Playfair Display', serif;

    font-family: 'Work Sans', sans-serif;
*/
body {
	color: #fff;
	background: #262aff;
	font-family: 'Work Sans', sans-serif;
}
.header {
	font-size: 50px;
	font-weight: bolder;
	text-transform: uppercase;
	margin-top: 15vh;
	line-height: 30px;
}
.background-svg {
	max-width: 100%;
	overflow: hidden;
	position: absolute;
	z-index: -999;
	opacity: 0.3;
	margin-top: 20vh;
}
.upper-header {
	font-size: 10px;
	letter-spacing: 30px;
}
.more-info {
	font-size: 1em;
	margin-top: 50px;
}
.more-info div a {
	text-decoration: none;
	font-weight: bolder;
	font-size: 1.2em;
	color: inherit;
}
.more-info-header {
	line-height: 1.7;
	font-size: 1.4em;
	margin-top: 0;
}
.more-info div {
	margin-top: 20px;
}
.changeVariant {
	margin-top: 19vh;
}
.variant div {
	background: #fff;
	padding: 5px;
	color: #000;
	text-transform: uppercase;
	font-size: 0.7em;
	text-align: center;
	line-height: 13px;
	cursor: pointer;
	border-radius: 10px;
	margin-top: 5px;
}
.quation {
	margin-top: 50px;
	font-size: 2.5em;
	margin-left: 15px;
	margin-right: 15px;
}
input {
	width: 50px;
	border: none;
	background: #0A0C7F;
    border-radius: 0px;
    text-align: center;
}
#variantSecond , #variantThird , #variantFour {
	display: none;
}
#doit2, #doit3, #doit4 {
	display: none;
}
.doit div {
	background: #fff;
	padding: 5px;
	color: #000;
	text-transform: uppercase;
	font-size: 0.7em;
	text-align: center;
	line-height: 13px;
	cursor: pointer;
	border-radius: 10px;
	margin-top: 20px;
	margin-left: 15px;
}
.solution {
	margin-top: 5px;
	font-size: 1.3em;
}
.solution div {
	margin-top: 10px;
}
.diskrRoot div {
	display: none;
}
#full-q-wrapper {
	
}
.full-q-none {
	display: none;
}
.full-q-block {
	display: block;
}
#full-q-wrapper span {
	display: none;
}
.full-q {
	padding: 0px;
}
.equation-wrapper {
	padding-left: 0px;
}
footer {
	position: absolute;
	margin-top: 30px;
	margin-bottom: 0px;
	line-height: 20px;
	text-align: center;
	font-size: 0.9em;
	text-transform: uppercase;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.upper-header {
	letter-spacing: 26px;
}
}
@media screen and (max-width: 502px) {
	.quation {
		font-size: 2.1em;
	}
}
@media screen and (max-width: 463px) {
	.quation {
		font-size: 1.8em;
	}
	.container {
		margin: 0px;
		padding: 0px;
	}
}
@media screen and (max-width: 380px) and (-webkit-min-device-pixel-ratio:0) { 
	.upper-header {
		letter-spacing: 20px;
	}
	.header {
		font-size: 40px;
	}
}
@media screen and (max-width: 380px) {
	@-moz-document url-prefix() {
		.upper-header {
			letter-spacing: 19px;
		}
		.header {
			font-size: 36px;
		}
	}
	.doit div {
		padding-left: 30px;
		padding-right: 70px;
	}
	.header {
		margin-top: 1vh;
	}
	.changeVariant {
		margin-top: 5vh;
	}
	.more-info {
		margin-top: 5px;
	}
	.coffs {
		padding-right: 0px;
	}
}
@media screen and (max-width: 315px) {
	.solution {
		font-size: 1.2em;
	}
}
@media screen and (max-width: 340px) {
	.quation {
		font-size: 1.3em;
	}
	input {
		width: 38px;
	}
}